body {
  /* background-color: #eee; */
  /* background-color: #9EE2B8; */
  background-color: #4ab471;
}

html, body {
  height: inherit;
}

.ui.segment {
  padding: 35px !important;
  box-shadow: none;
  border: none;
}

.logo {
  display: block !important;
  margin: 0 auto;
}

.logo img {
  margin: 0 auto;
  display: block;
}

.ui.form .error.message {
  display: block;
}

.signup {
  background-color: #fff;
  width: 500px;
  margin: 50px auto !important;
}

.ui.segment .heading {
  text-align: center;
}

.signup p {
  font-size: 15px;
  text-align: center;
}

#subject_field {
  display: none;
}
