body {
  /* background-color: #eee; */
  /* background-color: #9EE2B8; */
  background-color: #4ab471;
}

html, body {
  height: inherit;
}

.ui.segment {
  padding: 35px !important;
  box-shadow: none;
  border: none;
}

.logo {
  display: block !important;
  margin: 0 auto;
}

.logo img {
  margin: 0 auto;
  display: block;
}

.ui.form .error.message {
  display: block;
}

.signup {
  background-color: #fff;
  width: 500px;
  margin: 50px auto !important;
}

.ui.segment .heading {
  text-align: center;
}

.signup p {
  font-size: 15px;
  text-align: center;
}

#subject_field {
  display: none;
}

.table_buttons form input {
  margin-right: 5px !important;
}

.table_view {
  display: none;
}

.teacher_table {
  width: 100%;
  height: 100%;
  padding: 35px;
  background-color: #fff;
}

#loginButton {
  margin-right: 5px;
}

#password {
  width: 50%;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .teacher_table {
    width: 106%;    
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {
  .teacher_table {
    width: 145%;    
  }
}